[Unit]
Description=Mount system volumes in sysroot
DefaultDependencies=no
After=unlock-var.service

[Service]
Type=oneshot
ExecStart=/usr/bin/abroot mount-sys --sysroot=/sysroot
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
